@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:ital,wght@1,300&display=swap');
html, body {
  /* height: 100%;
  width: 100%; */
  background-color: rgb(202, 226, 114);
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.container{
    
    /* padding: 3em; */
    margin-top: 7em;
    width: 70em;
    margin-left:9rem;
    background-color: aqua;
}
.button{
    font-size: 1em;
  width:66px;
  padding:20px;
  margin:0 3px;
  border:2px solid black;
  border-radius: 9px;
  cursor:pointer;
}
.clear-btn{
    margin-left: 2em;
margin-right:2em;
  width:18em;
}
.row{
  margin:8px 0px;
}
.row input{
  width:291px;
  font-size: 20px;
  margin: 0;
  padding:10px 0px;
  border:2px solid black;
  border-radius: 5px;
}